.chatbox{
    position: fixed;
    left:30%;
    top:10%;
    width:70%;
    height: 90%;
  }
  .textbox{
    position: fixed;
    top:88%;
    height: 6%;
    background-color: #fff;
    width: 70%;
    padding:1.25%;
    display: flex;
  }
  .textbox .Main{
    width: 70%;
  }
  .textbox .SendMessage{
    width: 10%;
    position: relative;
    left:2%;
  }
  .chats{
    width: 100%;
    position: absolute;
    /* background-color: #3E535A;
    z-index: 4; */
    height: 100%;
    overflow-y: scroll;
    padding: 2%;
    
  }
  .chats .Userchats{
    display: flex;
    min-height: 10%;
    justify-content: end;
    margin-bottom: 1.5%;
  }
  .chats .Userchats span{
    background-color: #3E535A;
    height: max-content;
    padding: 2%;
    border-radius: 20px;
  }
  .chats .Userchats #udp{
    margin-left: 1%;
    border-radius: 50%;
  }
  /* .chats .Userchats img{
    width: 50%;
    height: 290px;
    position: static;
    right: 0%;
    margin-top: 13%;
  } */
  #udp{
    height: 10%;
    width: 5%;
    position: static;
    top:95%
  }
  
  
  .chats .friendchats{
    display: flex;
  }
  .chats .friendchats span{
    background-color: #3E535A;
    height: max-content;
    padding: 2%;
    border-radius: 20px;
  }
  .chats .friendchats  #udp{
    margin-right: 1%;
    border-radius: 50%;
  }