.chatbox{
    position: fixed;
    left:30%;
    top:10%;
    width:70%;
    height: 90%;
    background-color:darkslategrey;
  }
  .textbox{
    position: fixed;
    bottom: 0%;
    left:30%;
    display: flex;
    background-color: black;
    width: 70%;
    height: 10%;
  }
  .textbox .Main{
    margin-left: 2%;
    padding-left: 2%;
    width: 50%;
    height: 70%;
    align-self: center;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: aqua;
    background-color: transparent;
    color: white;
  }
  .textbox .SendMessage{
    width: 10%;
    height: 70%;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: aqua;
    align-self: center;
    position: relative;
    left:2%;
    background-color: transparent;
    color: white;
  }
  .chats{
    width: 100%;
    position: absolute;
    /* background-color: #3E535A;
    z-index: 4; */
    height: 100%;
    overflow-y: scroll;
    padding: 2%;
    
  }
  .chats .Userchats{
    display: flex;
    min-height: 10%;
    justify-content: end;
    margin-bottom: 1.5%;
  }
  .chats .Userchats span{
    background-color: #3E535A;
    height: max-content;
    padding: 2%;
    border-radius: 20px;
  }
  .chats .Userchats #udp{
    margin-left: 1%;
    border-radius: 50%;
  }
  #udp{
    height: 10%;
    width: 5%;
    position: static;
    top:95%
  }
  
  
  .chats .friendchats{
    display: flex;
  }
  .chats .friendchats span{
    background-color: #3E535A;
    height: max-content;
    padding: 2%;
    border-radius: 20px;
  }
  .chats .friendchats  #udp{
    margin-right: 1%;
    border-radius: 50%;
  }