.Navbar{
    background-color: black;
    width: 100%;
    height: 10%;
    display: flex;
    position: fixed;
}
.Navbar .dp{
    height: 60%;
    align-self: center;
    padding: 1%;
    cursor: pointer;
    border-radius: 50%;
}
.Navbar p{
    font-size: 20px;
    margin-left:'1%';
    margin-right:'5%';
}
.Navbar .search{
    border-width: 2px;
    border-style: solid;
    border-color: aqua;
    background-color: transparent;
    padding-left: 2%;
    align-self: center;
    width: 50%;
    height: 60%;
    border-radius: 25px;
    padding-left: 3%;
    font-size: 20px;
    margin-left: 2%;
    color: aliceblue;
}
.Navbar .Sbtn{
    margin-left: 1%;
    align-self: center;
    width: 10%;
    height: 60%;
    background-color: aliceblue;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    /* padding: 0.5%; */
    border-width: 2px;
    border-style: solid;
    border-color: aqua;
    background-color: transparent;
    color:white;
    font-weight: 600;
    font-size: 15px;
    transition: 0.5s ease;
}
.Navbar .Sbtn:hover{
    background-color:cadetblue;
    color:black;
}
.popupdiv{
    position: fixed;
    height:100%;
    width:100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.456);
}
.popupdiv .notificationsDiv{
    position: absolute;
    z-index: 3;
    left: 60%;
    top:15%;
    min-height: 40%;
    max-height: max-content;
    width: 30%;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 2%;
}
.searchPopUp{
    background-color: cadetblue;
    width:65%;
    height: 30%;
    display: flex;
    border-radius: 20px;
    position: absolute;
    top:10%;
    left:9.5%;
}

.searchPopUp .SName{
    position: relative;
    left: 20%;
    font-size: 35px;
    margin-top: 3%;
}
.searchPopUp .SEmail{
    position: relative;
    left: 20%;
    font-size: 27px;
    margin-top: 2%;
}
.searchPopUp .details{
    align-self: center;
}
.searchPopUp img{
    height: 70%;
    border-radius: 50%;
    margin-left: 2%;
    margin-right: 2%;
    align-self: center;
}
.searchPopUp p{
    font-size: 35px;
    margin-top: 8%;
    margin-left: 3%;
}
.details .Add{
    padding: 2%;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 5%;
    border-radius: 15px;
    border-width: 2px ;
    border-style: solid;
    border-color: aqua;
    margin-top: 5%;
    margin-left: 20%;
}
#dp1{
    border-color: aliceblue;
    border-width: 5px;
    border-style: solid;
}
.popUp2{
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.703);
}
.popUp2 .content{
    position: absolute;
    height: 15vh;
    width: 10vw;
    top:10vh;
    left: 2vw;
}
.popUp2 .content button{
    background-color: cadetblue;
    color:black;
    border: none;
    width: max-content;
    height: max-content;
    padding: 2vh;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}


@media screen and (max-width:768px){
    .Navbar .search{
        font-size: 12px;
        width: 40%;
        border-radius: 10px;
    }
    .Navbar .Sbtn{
        font-size: 12px;
        width: 15%;
        border-radius: 10px;
    }
    .Navbar p{
        font-size: 12px;
        margin-left: 2%;
        margin-right: 7%;
    }
    .popUp2{
        position: fixed;
        z-index: 5;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.703);
    }
    .popUp2 .content{
        position: absolute;
        height: 15vh;
        width: 10vw;
        top:10vh;
        left: 2vw;
    }
    .popUp2 .content button{
        background-color: cadetblue;
        color:black;
        border: none;
        width: max-content;
        height: max-content;
        padding: 2vh;
        font-size: 12px;
        border-radius: 10px;
    }
    .searchPopUp{
        background-color: cadetblue;
        width:90%;
        height: 18%;
        display: flex;
        border-radius: 20px;
        position: absolute;
        top:10%;
        left:5%;
    }
    .searchPopUp p{
        font-size: 15px;
        margin-top: 12%;
        margin-left: 3%;
    }
    
    .searchPopUp .SName{
        position: relative;
        left: 20%;
        font-size: 24px;
        margin-top: 3%;
    }
    .searchPopUp .SEmail{
        position: relative;
        left: 20%;
        font-size: 18px;
        margin-top: 2%;
    }
    .searchPopUp .details{
        align-self: center;
    }
    .searchPopUp img{
        height: 60%;
        border-radius: 50%;
        margin-left: 2%;
        margin-right: 2%;
        align-self: center;
    }
    .details .Add{
        padding: 2%;
        cursor: pointer;
        background-color: black;
        color: white;
        padding: 5%;
        border-radius: 5px;
        border-width: 1px ;
        border-style: solid;
        border-color: aqua;
        margin-top: 5%;
        margin-left: 20%;
    }
}