.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: 
  #C3E3ED;
  height: 100%;
}

/* Register page CSS */
.Form{
  position: absolute;
  left:33.33%;
  width:33.33%;
  background-color: #7CA6B4;
  padding:2%;
  top:10%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}
.Form input{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color:aliceblue;
  border-radius: 20px;
  color:#2A2F33;
  border:#121212;
  border-width: 10px;
}
.Navs p{
  font-size: 20px;
}
/* CSS */

.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

/* search bar up top */

.navbar{
  top:0%;
  width:100%;
  height:5%;
  padding:1%;
  background-color: #96C0CE;
  display: flex;
}

.search input{
  padding: 0.5%;
}
.home{
  height: 100%;
}
/* Users section */

.users{
  top:10.5%;
  position:fixed;
  width:30%;
  height: 90%;
  background-color: #96C0CE;
  overflow-y: scroll;
}

.users .usertab{
  position: static;
  width:95%;
  margin: 2%;
  height: 17%;
  background-color: #3E535A;
  border-radius: 20px;
  display: flex;
}

/* popup windows */
/* .popup{
  z-index: 3;
} */

/* Chatbox css */
.chatbox{
  position: absolute;
  left:30%;
  top:10%;
  width:70%;
  /* background-color: #121212; */
  height: 90%;
}
.textbox{
  position: fixed;
  top:88%;
  height: 6%;
  background-color: #fff;
  width: 70%;
  padding:1.25%;
}
.textbox input{
  padding:1.5%;
  width:80%;
  border-radius: 20px;
}
.textbox label{
  position: absolute;
  left: 84%;
  top:22%;
}

.chats{
  position: fixed;
  height: 72%;
  overflow-y: scroll;
  padding: 2%;
}
.chats .Userchats{
  display: flex;
}
.chats .Userchats span{
  background-color: #3E535A;
  margin: 2%;
  margin-left: 18%;
  margin-right: 0%;
  border-radius: 25px;
  padding: 3%;
  min-width: 10%;
  font-size: 150%;
}
.chats .Userchats #udp{
  width: 130px;
  height: 100px;
  position: static;
  left: 0%;
  margin-top: 13%;
  border-radius: 50%;
  height: 40px;
}



.chats .friendchats{
  display: flex;
}
.chats .friendchats span{
  background-color: #3E535A;
  margin: 2%;
  margin-left: 0%;
  margin-right: 18%;
  border-radius: 25px;
  padding: 3%;
  min-width: 10%;
  font-size: 150%;
}
.chats .friendchats img{
  width: 130px;
  height: 100px;
  position: static;
  left: 0%;
  margin-top: 13%;
}